* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600; }
  a:hover {
    color: #E60607; }

.encabezado {
  background-color: #0422DA;
  color: #fff;
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 0 10px #000; }
  .encabezado .logo_header {
    padding: 0px 20px; }
  .encabezado .boton_nav {
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none; }
  @media (max-width: 576px) {
    .encabezado {
      height: 65px; }
      .encabezado ul.show {
        top: 65px; }
      .encabezado .boton_nav {
        display: inline-flex; }
      .encabezado .nav_header {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: #0422DA;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        z-index: 1; }
        .encabezado .nav_header li {
          margin: 30px 0 0 0;
          line-height: 30px; } }

.nav_header {
  display: flex;
  list-style-type: none; }
  .nav_header li a {
    margin: 0 10px 10px; }

.main_index {
  display: grid;
  grid-template-areas: "logo_main logo_main" "bienvenida form" "plataforma img_plataforma"; }
  @media (max-width: 576px) {
    .main_index {
      grid-template-areas: "logo_main" "bienvenida" "form" "plataforma" "img_plataforma"; } }

.logo_main {
  grid-area: logo_main;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0; }
  .logo_main img {
    max-width: 50%; }

.bienvenida {
  grid-area: bienvenida;
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 300px;
  text-align: center;
  justify-content: center; }

.form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px; }
  .form .titulo-form {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px; }
  .form .button-form {
    height: 45px;
    margin: 35px 0;
    width: 100%;
    outline-color: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: #0422DA; }

.input-box input, .input-box textarea {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 5px;
  font-size: 16px;
  margin-bottom: 5px;
  border-bottom-width: 2px;
  transition: all 0.3s ease; }

.input-box input:focus, .input-box input:valid {
  border-color: #E60607; }

.plataforma {
  grid-area: plataforma;
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 300px;
  font-weight: 600;
  text-align: center;
  justify-content: center; }

.img_plataforma {
  grid-area: img_plataforma;
  margin-bottom: 20px; }
  .img_plataforma img {
    max-width: 100%; }

.main_cursos {
  display: grid;
  grid-template-areas: "titulo_cursos titulo_cursos" "subtitulo_cursos subtitulo_cursos" "standard golden" "flash incompany";
  text-align: center;
  justify-content: center; }
  .main_cursos .titulo_cursos {
    grid-area: titulo_cursos;
    font-size: 40px;
    font-weight: 700; }
  .main_cursos .subtitulo_cursos {
    grid-area: subtitulo_cursos;
    font-size: 30px;
    font-weight: 600; }
  .main_cursos .standard {
    grid-area: standard;
    margin: 2em;
    position: relative;
    width: 400px; }
    .main_cursos .standard .standard_image {
      display: block;
      width: 100%; }
    .main_cursos .standard .standard_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1.5em;
      opacity: 0;
      transition: opacity 0.25s; }
      .main_cursos .standard .standard_overlay:hover {
        opacity: 1;
        border-radius: 20px; }
    .main_cursos .standard .standard_overlay--blur {
      backdrop-filter: blur(5px); }
  .main_cursos .golden {
    grid-area: golden;
    margin: 2em;
    position: relative;
    width: 400px; }
    .main_cursos .golden .golden_image {
      display: block;
      width: 100%; }
    .main_cursos .golden .golden_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1.5em;
      opacity: 0;
      transition: opacity 0.25s; }
      .main_cursos .golden .golden_overlay:hover {
        opacity: 1;
        border-radius: 20px; }
    .main_cursos .golden .golden_overlay--blur {
      backdrop-filter: blur(5px); }
  .main_cursos .flash {
    grid-area: flash;
    margin: 2em;
    position: relative;
    width: 400px; }
    .main_cursos .flash .flash_image {
      display: block;
      width: 100%; }
    .main_cursos .flash .flash_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1.5em;
      opacity: 0;
      transition: opacity 0.25s; }
      .main_cursos .flash .flash_overlay:hover {
        opacity: 1;
        border-radius: 20px; }
    .main_cursos .flash .flash_overlay--blur {
      backdrop-filter: blur(5px); }
  .main_cursos .incompany {
    grid-area: incompany;
    margin: 2em;
    position: relative;
    width: 400px; }
    .main_cursos .incompany .incompany_image {
      display: block;
      width: 100%; }
    .main_cursos .incompany .incompany_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 50px;
      font-size: 1.5em;
      font-weight: 600;
      line-height: 1.5em;
      opacity: 0;
      transition: opacity 0.25s; }
      .main_cursos .incompany .incompany_overlay:hover {
        opacity: 1;
        border-radius: 20px; }
    .main_cursos .incompany .incompany_overlay--blur {
      backdrop-filter: blur(5px); }
  @media (max-width: 576px) {
    .main_cursos {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.main_examenes {
  display: grid;
  grid-template-areas: "titulo_exam titulo_exam" "subtitulo_exam subtitulo_exam" "ielts lingua" "toefl toefl";
  text-align: center;
  justify-items: center; }
  .main_examenes img {
    max-width: 75%;
    box-shadow: 5px 5px 10px #000;
    border-radius: 15px;
    margin: 20px; }
  @media (max-width: 576px) {
    .main_examenes {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .main_examenes .titulo_exam {
    grid-area: titulo_exam;
    font-size: 40px;
    font-weight: 700; }
  .main_examenes .subtitulo_exam {
    grid-area: subtitulo_exam;
    font-size: 30px;
    font-weight: 600; }
  .main_examenes .ielts {
    grid-area: ielts;
    max-width: 600px;
    min-width: 400px;
    color: #fff;
    font-size: 1.25em;
    background-color: #2336AD;
    border-radius: 25px;
    padding: 1em;
    margin: 1em; }
  .main_examenes .lingua {
    grid-area: lingua;
    max-width: 600px;
    min-width: 400px;
    color: #fff;
    font-size: 1.25em;
    background-color: #2336AD;
    border-radius: 25px;
    padding: 1em;
    margin: 1em; }
  .main_examenes .toefl {
    grid-area: toefl;
    max-width: 600px;
    min-width: 400px;
    color: #fff;
    font-size: 1.25em;
    background-color: #2336AD;
    border-radius: 25px;
    padding: 1em;
    margin: 1em; }

.main_aboutus .titulo_aboutus {
  text-align: center;
  font-size: 40px;
  font-weight: 700; }

.main_aboutus .description_aboutus {
  text-align: center; }

.piedepagina {
  display: flex;
  background-color: #0422DA;
  color: #fff;
  margin-top: auto;
  padding: 2em;
  justify-content: space-between;
  box-shadow: 5px 0 10px #000; }
  .piedepagina .iconos a {
    padding-left: 0.5em;
    padding-right: 0.5em; }
  @media (max-width: 576px) {
    .piedepagina {
      flex-direction: column;
      align-items: center; } }
