// maps
$colors: (
    azul: #0422DA,
    azul_card: #2336AD,
    azul_texto: #031D94,
    blanco_fondo: #F0F3FF,
    blanco: #fff,
    negro: #000,
    rojo_hover: #E60607,
    rojo_active: rgb(147, 0, 0),
);

// functions
@function color($color-name) {
    @return map-get($colors, $color-name);
}

// variables
$mobile: 576px;
$desktop: 992px;

// mixins
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

// reset
* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: color(blanco);
    font-weight: 600;
    &:hover {
        color: color(rojo_hover);
    }
}

.encabezado {
    background-color: color(azul);
    color: color(blanco);
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 0 10px color(negro);
    .logo_header {
        padding: 0px 20px;
    }
    .boton_nav {
        margin-right: 30px;
        font-size: 25px;
        cursor: pointer;
        display: none;
    }
    @include mobile {
        ul.show {
            top: 65px;
        }
        height: 65px;
        .boton_nav {
            display: inline-flex;
        }
        .nav_header {
            position: fixed;
            width: 100vw;
            height: calc(100% - 65px);
            background: color(azul);
            top: -100vh;
            text-align: center;
            transition: all .4s;
            flex-direction: column;
            z-index: 1;
            li {
                margin: 30px 0 0 0;
                line-height: 30px;
            }
        }
    }
}

.nav_header {
    display: flex;
    list-style-type: none;
    li a {
        margin: 0 10px 10px;
    }
}

// INDEX
.main_index {
    display: grid;
    grid-template-areas: 
        "logo_main logo_main"
        "bienvenida form"
        "plataforma img_plataforma";
    @include mobile {
        grid-template-areas: 
            "logo_main"
            "bienvenida"
            "form"
            "plataforma"
            "img_plataforma";
    }
}

.logo_main {
    grid-area: logo_main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    img {
        max-width: 50%;
    }
}

.bienvenida {
    grid-area: bienvenida;
    display: flex;
    background-color: color(blanco_fondo);
    flex-direction: column;
    padding: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    .img_welcome {
        margin: 1em;
        max-width: 100%;
        border-radius: 15px;
        box-shadow: 2px 2px 8px #000;
    }    
}

.form {
    grid-area: form;
    display: flex;
    background-color: color(blanco_fondo);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titulo-form {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .button-form {
        height: 45px;
        margin: 35px 0;
        width: 100%;
        outline-color: none;
        color: color(blanco);
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2px;
        background-color: color(azul);
    }
}

.input-box {
    input, textarea {
        height: 45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 5px;
        font-size: 16px;
        margin-bottom: 5px;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }
    input:focus, input:valid {
        border-color: #E60607;
    }
}

.plataforma {
    grid-area: plataforma;
    display: flex;
    flex-direction: column;
    padding: 2em;
    height: 300px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.img_plataforma {
    grid-area: img_plataforma;
    margin-bottom: 20px;
    img {
        max-width: 100%;
    }
}

// CURSOS
.main_cursos {
    display: grid;
    grid-template-areas: 
        "titulo_cursos titulo_cursos"
        "subtitulo_cursos subtitulo_cursos"
        "standard golden"
        "flash incompany";
    text-align: center;
    justify-content: center;
    .titulo_cursos {
        grid-area: titulo_cursos;
        font-size: 50px;
        font-weight: 700;
        color: color(azul_texto);
        text-shadow: 1px 2px color(rojo_hover);
    }
    .subtitulo_cursos {
        grid-area: subtitulo_cursos;
        font-size: 30px;
        font-weight: 600;
    }
    .standard {
        grid-area: standard;
        margin: 2em;
        position: relative;
        width: 400px;
        .standard_image {
            display: block;
            width: 100%;
        }
        .standard_overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: color(blanco);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 1.5em;
            opacity: 0;
            transition: opacity 0.25s;
            &:hover {
                opacity: 1;
                border-radius: 20px;
            }
        }
        .standard_overlay--blur {
            backdrop-filter: blur(5px);
        }
    }
    .golden {
        grid-area: golden;
        margin: 2em;
        position: relative;
        width: 400px;
        .golden_image {
            display: block;
            width: 100%;
        }
        .golden_overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: color(blanco);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 1.5em;
            opacity: 0;
            transition: opacity 0.25s;
            &:hover {
                opacity: 1;
                border-radius: 20px;
            }
        }
        .golden_overlay--blur {
            backdrop-filter: blur(5px);
        }
    }
    .flash {
        grid-area: flash;
        margin: 2em;
        position: relative;
        width: 400px;
        .flash_image {
            display: block;
            width: 100%;
        }
        .flash_overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: color(blanco);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 1.5em;
            opacity: 0;
            transition: opacity 0.25s;
            &:hover {
                opacity: 1;
                border-radius: 20px;
            }
        }
        .flash_overlay--blur {
            backdrop-filter: blur(5px);
        }
    }
    .incompany {
        grid-area: incompany;
        margin: 2em;
        position: relative;
        width: 400px;
        .incompany_image {
            display: block;
            width: 100%;
        }
        .incompany_overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: color(blanco);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 50px;
            font-size: 1.5em;
            font-weight: 600;
            line-height: 1.5em;
            opacity: 0;
            transition: opacity 0.25s;
            &:hover {
                opacity: 1;
                border-radius: 20px;
            }
        }
        .incompany_overlay--blur {
            backdrop-filter: blur(5px);
        }
    }
    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

// EXAMENES
.main_examenes {
    display: grid;
    grid-template-areas: 
        "titulo_exam titulo_exam"
        "subtitulo_exam subtitulo_exam"
        "ielts lingua"
        "toefl toefl";
    text-align: center;
    justify-items: center;
    img {
        max-width: 75%;
        box-shadow: 5px 5px 10px color(negro);
        border-radius: 15px;
        margin: 20px;
    }
    @include mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo_exam {
        grid-area: titulo_exam;
        font-size: 50px;
        font-weight: 700;
        color: color(azul_texto);
        text-shadow: 1px 2px color(rojo_hover);
    }
    .subtitulo_exam {
        grid-area: subtitulo_exam;
        font-size: 30px;
        font-weight: 600;
    }
    .ielts {
        grid-area: ielts;
        max-width: 600px;
        min-width: 400px;
        color: color(blanco);
        font-size: 1.25em;
        background-color: color(azul_card);
        border-radius: 25px;
        padding: 1em;
        margin: 1em;
    }
    .lingua {
        grid-area: lingua;
        max-width: 600px;
        min-width: 400px;
        color: color(blanco);
        font-size: 1.25em;
        background-color: color(azul_card);
        border-radius: 25px;
        padding: 1em;
        margin: 1em;
    }
    .toefl {
        grid-area: toefl;
        max-width: 600px;
        min-width: 400px;
        color: color(blanco);
        font-size: 1.25em;
        background-color: color(azul_card);
        border-radius: 25px;
        padding: 1em;
        margin: 1em;
    }
}

// QUIENES SOMOS
.main_aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo_aboutus {
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        color: color(azul_texto);
        text-shadow: 1px 2px color(rojo_hover);
    }
    .description_aboutus {
        padding: 1em;
        font-size: 1.25em;
        font-weight: 400;
        text-align: center;
        .list {
            color: color(rojo_hover);
        }
    }
    .img_aboutus {
        width: 100%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        border-radius: 25px;
        box-shadow: 2px 2px 8px #000;
    }
}

// CONTACTO
.main_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_contacto {
    font-size: 50px;
    font-weight: 700;
    color: color(azul_texto);
    text-shadow: 1px 2px color(rojo_hover);
}

.subtitulo_contacto {
    font-size: 30px;
    font-weight: 600;
}

.piedepagina {
    display: flex;
    background-color: color(azul);
    color: color(blanco);
    margin-top: auto;
    padding: 2em;
    justify-content: space-between;
    box-shadow: 5px 0 10px color(negro);
    .iconos a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    @include mobile {
        flex-direction: column;
        align-items: center;
        }
}