// maps
$colors: (
    azul: #0422DA,
    blanco: #fff,
    negro: #000,
    rojo_hover: #E60607,
    rojo_active: rgb(147, 0, 0),
);

// functions
@function color($color-name) {
    @return map-get($colors, $color-name);
}

// variables
$mobile: 576px;
$desktop: 992px;

// mixins
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

// reset
* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: color(blanco);
    font-weight: 600;
    &:hover {
        color: color(rojo_hover);
    }
}

.encabezado {
    background-color: color(azul);
    color: color(blanco);
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 0 10px color(negro);
    .logo_header {
        padding: 0px 20px;
    }
    .boton_nav {
        margin-right: 30px;
        font-size: 25px;
        cursor: pointer;
        display: none;
    }
    @include mobile {
        ul.show {
            top: 65px;
        }
        height: 65px;
        .boton_nav {
            display: inline-flex;
        }
        .nav_header {
            position: fixed;
            width: 100vw;
            height: calc(100% - 65px);
            background: color(azul);
            top: -100vh;
            text-align: center;
            transition: all .4s;
            flex-direction: column;
            z-index: 1;
            li {
                margin: 30px 0 0 0;
                line-height: 30px;
            }
        }
    }
}

.nav_header {
    display: flex;
    list-style-type: none;
    li a {
        margin: 0 10px 10px;
    }
}

// INDEX
.main_index {
    display: grid;
    grid-area: main;
    grid-template-areas: 
        "logo_main logo_main"
        "bienvenida form"
        "plataforma img_plataforma";
    @include mobile {
        grid-template-areas: 
            "logo_main"
            "bienvenida"
            "form"
            "plataforma"
            "img_plataforma";
    }
}

.logo_main {
    grid-area: logo_main;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 50%;
    }
}

.bienvenida {
    grid-area: bienvenida;
    display: flex;
    flex-direction: column;
}

.form {
    grid-area: form;
}

.plataforma {
    grid-area: plataforma;
}

.img_plataforma {
    grid-area: img_plataforma;
    img {
        max-width: 100%;
    }
}

// EXAMENES
.main_examenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 50%;
    }
}

.piedepagina {
    display: flex;
    background-color: color(azul);
    color: color(blanco);
    margin-top: auto;
    padding: 2em;
    justify-content: space-between;
    box-shadow: 5px 0 10px color(negro);
    .iconos a {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    @include mobile {
        flex-direction: column;
        align-items: center;
        }
}